.scrollable_container {
	position:relative;
	margin:5px 0;
	overflow:hidden;
}
.scrollable_container .scrollable .items {
	width:20000em;
	position:absolute;
}
.scrollable_container .items div.box {
	float:left;
	width:881px;
}
.scrollable_container .scrollable {
	position:relative;
	margin:0 auto;
	width: 583px;
	height:300px;
	overflow:hidden;
}
.scrollable_container .bg_scrollable.first_page {
	background:url(../images/banner1.png) 0 0 no-repeat;
	height:300px;
	position:relative;
	width:583px;
}
.scrollable_container .bg_scrollable.second_page {
	background:url(../images/banner2.png) 0 0 no-repeat;
	height:300px;
	width:583px;
	position:relative;
}
.scrollable_container .bg_scrollable.third_page {
	background:url(../images/banner3.png) 0 0 no-repeat;
	height:300px;
	width:583px;
	position:relative;
}

.scrollable_container .items .content_scrollable {
	padding:25px 27px 20px 27px;
	margin:-357px 0 0 0;
	height:317px;
	position:relative;
}
.scrollable_container .text {
	line-height:normal;
	font-size:18px;
	font-weight:normal;
	color:#fff;
	width:330px;
	text-shadow:0px 1px 1px #4c99ec;
	padding:15px 0 25px;
	margin-bottom:20px;
}
/* buttons */
.scrollable_container .buttons {
	position:absolute;
	top:228px;
	left:102px;
	z-index:5;
	height:67px;
}
.scrollable_container .buttons a.button_blue {
	background:url(../images/register_now.png) 100% 0 no-repeat;
	width:166px;
	display:block;
	float:left;
	text-decoration:none;
}

.scrollable_container .buttons a.button_blue span {
	background:url../images/register_now.png) 0 0 no-repeat;
	padding-top:9px;
	padding-left:19px;
	display:block;
	float:left;
	height:46px;
	font-size:18px;
	
	color:#FFF;
	font-weight:bold;
	text-shadow:0px 1px 0px #367423;
}

.or {
	display:block;
	float:left;
	height:67px;
	line-height:67px;
	font-size:18px;
	font-weight:bold;
	color:#2d89ea;
	padding:0 15px;
}
