.scrollable_container .navi {
	height:14px;
	width:60px;
	position:absolute;
	top:280px;
	right:0px;
	z-index:2;
}
.scrollable_container .navi a {
	background:url(../images/circle.png) 0 0 no-repeat;
	height:14px;
	width:14px;
	float:left;
	display:block;
	margin-right:3px;
}
.scrollable_container .navi a:active {
	outline:none;
}
.scrollable_container .navi a.active {
	background:url(../images/circle_active.png) 0 0 no-repeat;
}
