<h1>Welcome Fellow Agilists !</h1>

<div id="slide-show">
  <img src="/images/banner1.png"/>
  <img src="/images/banner2.png"/>
  <img src="/images/banner3.png"/>
  <img src="/images/banner4.png"/>
  <img src="/images/banner5.png"/>
</div>

<div class="about_area">
  <span class="nice-text-blue">
	Xebia and Agile Software Community of India (ASCI) are pleased to announce the fifth edition of AgileNCR, the biggest conference on Agile in India.
	<br/><br/>
	Agile Methodologies have rapidly gained acceptance in the Software Development Community. Agile approaches based on SCRUM and XP have benefited enterprises ranging from large corporations to small start-ups.
	<br/><br/>
	 The purpose of this conference is to share knowledge and experiences with Agile developers and practitioners in India and abroad. The conference will provide a comprehensive overview of the current state of Agile practices. For sure, this is a great source of information for all Agile enthusiasts, beginners and experts.
	<br/><br/>
	AgileNCR not only lets you learn Agile, but also gives you a chance to interact with the Agile Gurus across the globe. If you have an experience to share, send in your abstracts to us. Buckle up! The journey embarks.
	<br/><br/>
  </span>
</div>

<script language="javascript">
  $(document).ready(function() {
	$('#slide-show').nivoSlider();
  });
</script>