<h1>About AgileNCR</h1>
<div class="banner_area">
  <div class="scrollable_container">
	<div id="browsable" class="scrollable">
	  <div class="items">
		<!-- items_block -->
		<div class="box">
		  <div class="bg_scrollable first_page"></div>
		  <div class="content_scrollable first_page">
			<div class="banner_title">
			  <p>Title will come here...for big title line.</p>
			</div>
			<div class="banner_details">
			  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
			</div>
		  </div>
		</div>
		<!-- end_items_block -->
		<!-- items_block -->
		<div class="box">
		  <div class="bg_scrollable second_page"> </div>
		  <div class="content_scrollable">
			<div class="banner_title">
			  <p>Title will come here...for big title line.</p>
			</div>
			<div class="banner_details">
			  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
			</div>
		  </div>
		</div>
		<!-- end_items_block -->
		<!-- items_block -->
		<div class="box">
		  <div class="bg_scrollable third_page"></div>
		  <div class="content_scrollable">
			<div class="banner_title">
			  <p>Title will come here...for big title line.</p>
			</div>
			<div class="banner_details">
			  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
			</div>
		  </div>
		</div>
		<!-- end_items_block -->
	  </div>
	</div>
	<div class="navi"><a href="#0" class="active"></a><a href="#1" class=""></a><a href="#2" class=""></a></div>
	<div class="buttons" style="display: block;"> <a class="button_blue" href="register_now.htm"><span>Register NOW</span></a></div>
  </div>
  <div class="clr"></div>
</div>
<div class="about_area">
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960. <br />
	<br />
			When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release. <a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry text of the and printing.</a> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
</div>