<h1>About AgileNCR</h1>
<div class="banner_area">
  <div class="scrollable_container">
	<div id="browsable" class="scrollable">
	  <div class="items">
		<!-- items_block -->
		<div class="box">
		  <div class="bg_scrollable first_page"></div>
		  <div class="content_scrollable first_page">
			<div class="banner_title">
			  <p>Title will come here...for big title line.</p>
			</div>
			<div class="banner_details">
			  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
			</div>
		  </div>
		</div>
		<!-- end_items_block -->
		<!-- items_block -->
		<div class="box">
		  <div class="bg_scrollable second_page"> </div>
		  <div class="content_scrollable">
			<div class="banner_title">
			  <p>Title will come here...for big title line.</p>
			</div>
			<div class="banner_details">
			  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
			</div>
		  </div>
		</div>
		<!-- end_items_block -->
		<!-- items_block -->
		<div class="box">
		  <div class="bg_scrollable third_page"></div>
		  <div class="content_scrollable">
			<div class="banner_title">
			  <p>Title will come here...for big title line.</p>
			</div>
			<div class="banner_details">
			  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
			</div>
		  </div>
		</div>
		<!-- end_items_block -->
	  </div>
	</div>
	<div class="navi"><a href="#0" class="active"></a><a href="#1" class=""></a><a href="#2" class=""></a></div>
	<div class="buttons" style="display: block;"> <a class="button_blue" href="register_now.htm"><span>Register NOW</span></a></div>
  </div>
  <div class="clr"></div>
</div>
<div class="about_area">
  <span class="nice-text-blue">Xebia and Agile Software Community of India (ASCI) are pleased to announce the fifth edition of AgileNCR, which is the biggest conference on Agile in India.
	<br/><br/>
	Agile Methodologies have rapidly gained acceptance in the Software Development Community. Agile approaches based on SCRUM and XP have benefited enterprises ranging from large corporations to small start-ups.
	<br/><br/>
	The purpose of this conference is to encourage sharing of knowledge and experience with Agile Software Development in India. The conference will provide a comprehensive overview of the current state-of-the-practice for Agile Methods and it is a great source of knowledge for all Agile enthusiast. At AgileNCR 2011 you will not only learn about Agile, but will also get chance to collaborate with Agile Gurus from all over world.
  </span>
</div>