<h1>Welcome to AgileNCR 2011 - 25 & 26 Feb, New Delhi, India</h1>

<div id="slide-show">
  <img src="/images/banner1.jpg" width="583" height="300" alt=""/>
  <img src="/images/banner2.jpg" width="583" height="300" alt=""/>
  <img src="/images/banner3.jpg" width="583" height="300" alt=""/>
  <img src="/images/banner4.jpg" width="583" height="300" alt=""/>
  <img src="/images/banner5.jpg" width="583" height="300" alt=""/>
</div>

<div class="about_area">
  <span class="nice-text-blue">
    Thank you for making AgileNCR 2011 a resounding success.
	<br/><br/>
  </span>
</div>

<script language="javascript">
  $(document).ready(function() {
	$('#slide-show').nivoSlider();
  });
</script>