<div class="right_banner"></div>

<div class="submit_papers_box">
  <h1>SUBMIT YOUR PAPERS</h1>
  <p>Register as a speaker now<br />
	<%= link_to "click here", new_user_path %></p>
</div>

<div class="speakers_call">
  <h1>Speakers @ AgileNCR</h1>
  <div class="speakers_box">
	<div class="speaker_pic"><img src="images/speaker_pic.jpg" /></div>
	<div class="speaker_details">
	  <h2>Serge Beaumont (Xebia NL)</h2>
	  <p>Serge Beaumont has been in IT since 1995, and working with Agile since Kent Beck's XP book came out. He wrote one of the oldest unit testing frameworks.</p>
	</div>
  </div>
</div>
