<div class="right_banner">
  <a href="/pages/register"><img src="images/register_now_hp.png"/></a>
  <a href="/pages/register"><img src="images/register_now_price1.png"/></a>
  <a href="/pages/register"><img src="images/register_now_price2.png"/></a>
</div>

<div class="agenda_banner"><a href="/pages/agenda"><img src="images/agenda.png"/></a></div>

<div class="submit_papers_box">
  <a href="/pages/venue" style="color:red">Venue and Dates</a><br/>
  <a href="/pdf/AgileNCR_2011_Sponsorship_Invitation.pdf" target="blank">Invitation for Sponsors</a>
</div>

<div class="speakers_call_h1">Keynote Speakers @ AgileNCR 2011</div>