<div class="right_banner"><a href="http://agilencr2011.doattend.com"><img src="images/register_now_hp.png"/></a></div>

<div class="agenda_banner"><img src="images/agenda_soon.png"/></div>

<div class="submit_papers_box">
  <h1> AgileNCR 2011 </h1>
  <a href="/pages/venue" style="color:red">Venue and Dates</a><br/>
  <a href="/pdf/AgileNCR_2011_Sponsorship_Invitation.pdf" target="blank">Invitation for Sponsors</a>
</div>

<div class="speakers_call_h1">Keynote Speakers @ AgileNCR 2011</div>

<div class="speakers_call">
  <div class="speakers_box">
	<div class="speaker_pic"><img src="images/Pete.png" height="102" width="100" alt="Pete Deemer"/></div>
	<div class="speaker_details">
	  <h2>Pete Deemer</h2>
	  <p>Pete Deemer specializes in working with teams in India and throughout Asia doing distributed Scrum. Pete is the author of The Scrum Primer, one of the most widely read introductions to Scrum, and the new Distributed Scrum Primer.</p>
	</div>
  </div>
  <div class="speakers_box">
	<div class="speaker_pic"><img src="images/Sanjiv.jpg" height="100" width="100" alt="Sanjiv Augustine"/></div>
	<div class="speaker_details">
	  <h2>Sanjiv Augustine</h2>
	  <p>Sanjiv is an industry-leading Scrum and Lean expert, a Certified Scrum Trainer, and the President of LitheSpeed, an agile consulting, training and coaching company.</p>
	</div>
  </div>
  <div class="speakers_box">
	<div class="speaker_pic"><img src="images/Jesse.png" height="102" width="100" alt="Jesse Fewell"/></div>
	<div class="speaker_details">
	  <h2>Jesse Fewell</h2>
	  <p>Jesse is a writer, speaker, and trainer in the business of technology management. Recently, he founded the PMI Agile Community of Practice, PMI's component dedicated to Agile Project Management.</p>
	</div>
  </div>
  <div class="speakers_box">
	<div class="speaker_pic"><img src="images/nilay_oza.jpg" height="100" width="100" alt="Nilay Oza"/></div>
	<div class="speaker_details">
	  <h2>Nilay Oza</h2>
	  <p>Dr. Nilay Oza is a senior R&D professional and a consultant at VTT - Technical Research Centre of Finland. His current areas expertise include agile-lean adoption and enterprise transformation among others.</p>
	</div>
  </div>
  <div class="speakers_box">
	<div class="speaker_pic"><img src="images/Olav.png" height="102" width="100" alt="Olav Maassen"/></div>
	<div class="speaker_details">
	  <h2>Olav Maassen</h2>
	  <p>Olav is writer, presenter and Principal Agile Consultant for Xebia. His central theme is helping others perform better by creating transparency and building trust in organizations.</p>
	</div>
  </div>
  <div class="speakers_box">
	<div class="speaker_pic"><img src="images/Vibhu.gif" height="100" width="100" alt="Vibhu Srinivasan"/></div>
	<div class="speaker_details">
	  <h2>Vibhu Srinivasan</h2>
	  <p>As Managing Director of SolutionsIQ India, Vibhu has over a decade of experience in Agile practices, he possesses a deep understanding of software delivery, Agile coaching and consulting.</p>
	</div>
  </div>
  <div class="speakers_box">
	<div class="speaker_pic"><img src="images/Rohit_Bansal.jpg" height="100" width="100" alt="Rohit Bansal"/></div>
	<div class="speaker_details">
	  <h2>Rohit Bansal</h2>
	  <p>Rohit Bansal is the Head of the Social Impact Program at ThoughtWorks. In this role, he is instrumental in bringing his learning from Agile and Lean philosophies into the social space.</p>
	</div>
  </div>
</div>