<div class="right_banner"></div>

<div class="submit_papers_box">
  <h1>REGISTER AS A SPEAKER</h1>
  <p><%= link_to "CLICK HERE", new_user_path %></p>
</div>

<div class="speakers_call">
  <h1>Past Speakers @ AgileNCR</h1>
  

	  <div class="speakers_box">
	<div class="speaker_pic"><img src="images/Serge.jpg" height="100" width="100" alt="Serge Beaumont"/></div>
	<div class="speaker_details">
	  <h2>Serge Beaumont (Xebia NL)</h2>
	  <p>Serge Beaumont has been in IT since 1995, and working with Agile since Kent Beck's XP book came out. </p>
	</div>
  </div>

  <div class="speakers_box">
	<div class="speaker_pic"><img src="images/Hedwig.jpg" height="100" width="100" alt="Serge Beaumont"/></div>
	<div class="speaker_details">
	  <h2>Hedwig Baars (Ericsson India)</h2>
	  <p>Hedwig has been a great evangelist of Agile and has been busy with Agile since 2005 inside Ericsson .</p>
	</div>
  </div>
  <div class="speakers_box">
	<div class="speaker_pic"><img src="images/Rini.jpg" height="100" width="100" alt="Serge Beaumont"/></div>
	<div class="speaker_details">
	  <h2>Rini van Solingen</h2>
	  <p>Rini van Solingen is CTO at iSense (located in Gouda and Bangalore). He has written over 100 publications and is currently finalizing the english version of his management book on Scrum (The Power of Scrum) together with Jeff Sutherland and Eelco Rustenburg.</p>
	</div>
  </div>
	  <div class="speakers_box">
	<div class="speaker_pic"><img src="images/Rini.jpg" height="100" width="100" alt="Serge Beaumont"/></div>
	<div class="speaker_details">
	  <h2>Rini van Solingen</h2>
	  <p>Rini van Solingen is CTO at iSense (located in Gouda and Bangalore). He has written over 100 publications and is currently finalizing the english version of his management book on Scrum (The Power of Scrum) together with Jeff Sutherland and Eelco Rustenburg.</p>
	</div>
  </div>
  And many more ...
</div>
