<h2>SPONSORS FOR AGILENCR 2010</h2>
<ul>
  <li><img src="images/ansal_logo.gif" longdesc="#" /></li>
  <li><img src="images/asci_logo.gif" longdesc="#" /></li>
  <li><img src="images/erricson_logo.gif" longdesc="#" /></li>
  <li><img src="images/good_agile.gif" longdesc="#" /></li>
  <li><img src="images/initto_logo.gif" longdesc="#" /></li>
  <li><img src="images/sense_logo.gif" /></li>
  <li class="last_sponsor"><img src="images/thoughworks_logo.gif" /></li>
</ul>