<div id="sponsor-tabs">
  <ul class="tabs">
	<li><a href="#">Sponsors</a></li>
	<li><a href="#">Past Sponsors</a></li>
  </ul>
</div>
<div class="panes">
  <div>
	<ul>
	  <li><img src="images/xebia_logo.png" width="115" height="101" alt="sponsor logo" /></li>
	  <li><img src="images/v1-logo.gif" alt="sponsor logo" /></li>
	</ul>
  </div>
  <div>
	<ul>
	  <li><img src="images/xebia_logo.png" width="115" height="101" alt="sponsor logo" /></li>
	  <li><img src="images/ait_logo.png" width="115" height="101" alt="sponsor logo" /></li>
	  <li><img src="images/asci_logo.png" width="115" height="101" alt="sponsor logo" /></li>
	  <li><img src="images/ericsson_logo.png" width="115" height="101" alt="sponsor logo" /></li>
	  <li><img src="images/good_agile_logo.png" width="115" height="101" alt="sponsor logo" /></li>
	  <li><img src="images/initto_logo.png" width="115" height="101" alt="sponsor logo" /></li>
	  <li><img src="images/isense_logo.png" width="115" height="101" alt="sponsor logo"/></li>
	  <li class="last_sponsor"><img src="images/thoughtworks_logo.png" width="115" height="101" alt="sponsor logo"/></li>
	</ul>
  </div>
</div>
<script type="text/javascript">
  $(function() {
	$("ul.tabs").tabs("div.panes > div");
  });
</script>