<div id="sponsor-tabs">
  <ul class="tabs">
	<li><a href="#">Sponsors</a></li>
	<li><a href="#">Past Sponsors</a></li>
  </ul>
</div>
<div class="panes">
  <div>
	<ul>
	  <li><a href="http://xebia-india.com" target="_blank"><img src="images/xebia_logo.png" width="115" height="101" alt="Xebia logo" /></a></li>
	  <li><a href="http://www.goodagile.com" target="_blank"><img src="images/good_agile_logo.png" width="115" height="101" alt="GoodAgile logo" /></a></li>
	  <li><a href="http://www.versionone.com" target="_blank"><img src="images/v1-logo.gif" width="115" height="101" alt="VersionOne logo" /></a></li>
	  <li><a href="http://www.xebialabs.com" target="_blank"><img src="images/Xebialabs_logo.png" width="115" height="101" alt="XebiaLabs logo" /></a></li>
	  <li><a href="http://www.lithespeed.com/" target="_blank"><img src="images/LS_logo.jpg" width="115" height="101" alt="LitheSpeed logo" style="border:2px solid #D9D9D9"/></a></li>
	</ul>
  </div>
  <div>
	<ul>
	  <li><img src="images/xebia_logo.png" width="115" height="101" alt="sponsor logo" /></li>
	  <li><img src="images/ait_logo.png" width="115" height="101" alt="sponsor logo" /></li>
	  <li><img src="images/asci_logo.png" width="115" height="101" alt="sponsor logo" /></li>
	  <li><img src="images/ericsson_logo.png" width="115" height="101" alt="sponsor logo" /></li>
	  <li><img src="images/good_agile_logo.png" width="115" height="101" alt="sponsor logo" /></li>
	  <li><img src="images/initto_logo.png" width="115" height="101" alt="sponsor logo" /></li>
	  <li><img src="images/isense_logo.png" width="115" height="101" alt="sponsor logo"/></li>
	  <li class="last_sponsor"><img src="images/thoughtworks_logo.png" width="115" height="101" alt="sponsor logo"/></li>
	</ul>
  </div>
</div>
<script type="text/javascript">
  $(function() {
	$("ul.tabs").tabs("div.panes > div");
  });
</script>