<h2>Our Past Sponsors</h2>
<ul>
  <li><img src="images/xebia_logo.png" width="115" height="101" alt="sponsor logo" /></li>
  <li><img src="images/ait_logo.png" width="115" height="101" alt="sponsor logo" /></li>
  <li><img src="images/asci_logo.png" width="115" height="101" alt="sponsor logo" /></li>
  <li><img src="images/ericsson_logo.png" width="115" height="101" alt="sponsor logo" /></li>
  <li><img src="images/good_agile_logo.png" width="115" height="101" alt="sponsor logo" /></li>
  <li><img src="images/initto_logo.png" width="115" height="101" alt="sponsor logo" /></li>
  <li><img src="images/isense_logo.png" width="115" height="101" alt="sponsor logo"/></li>
  <li class="last_sponsor"><img src="images/thoughtworks_logo.png" width="115" height="101" alt="sponsor logo"/></li>
</ul>