<span class="nice-text-green">
Foundation of AgileNCR was led down by Xebia in the year 2007, when Agile software development was at the nascent stage in India.  Xebia started this initiative with a clear intention to share their knowledge and practices with the software development community. Since then years and years passed on and AgileNCR become the most popular and the biggest Agile event of India.
<br/><br/>
Last year AgileNCR 2010 has got the overwhelming response from the community, with 300+ participants from the 50+ organizations all across the India.  Another remarkable point; the whole event was divided in four parallel tracks to cover the needs of every individual with respect to their stage of Agile adoption.
<br/><br/>
Diversified set of Speakers with international fame to book writers to Agile Gurus like Pete Deemer, Sanjiv Augustine, Serge Beaumont, Hedwig Baars etc  were always been in highlight.
</span>