<div class="content_left">
  <div class="innercontent_area">
	<h2>About AgileNCR</h2>
	<span class="nice-text-green">
	AgileNCR was founded by Xebia in the year 2007 when Agile software development was in nascent stages in India. We started this initiative with a clear intention of sharing knowledge and practices with the whole community. Since then years have passed and AgileNCR has become the most popular and the biggest Agile event in India.
	  <br/><br/>
	Last edition - AgileNCR 2010 saw an overwhelming response from the community, we saw over 300+ participants from the 50+ organizations all across the India.
	  <br/><br/>
	International speakers, industry practitioners, agile gurus have been associated with AgileNCR time and again - Pete Deemer, Sanjiv Augustine, Serge Beaumont, Hedwig Baars and Rini van Soligen to name a few.
	<br/><br/>
	<b>2007:</b> Small on-campus event completely sponsored and organized by Xebia.
	<br/><br/>
	<b>2008:</b> Mega event sponsored by GoodAgile, ASCI, SabreHoldings, Xebia Organized by Xebia at AIT Institute, Gurgaon.
	<br/><br/>
	<b>2009:</b> Ericson and Xebia came together to sponsor the event organized at The Park Premier Hotel, with a turnout of audience from 32 companies.
	<br/><br/>
	<b>2010:</b> Agile NCR 2010 witnessed great enthusiasm with the theme - "Been there, done that!"
	</span>
  </div>
</div>


<div class="content_right">
  <div class="news_section">
	<h2>AgileNCR on the web</h2>
	<div class="news_box">
	  <p><a href="http://news.ciol.com/BusinessWire/Business-Science-amp-technology-Leisure/Xebia-Paves-Way-for-Agile-Methodology-at-Agile-NCR-2010/23247/0/" target="_blank">AgileNCR in the news</a><br/>Coverage of last year's AgileNCR</p>
	</div>
	<h2>Blogs</h2>
	<div class="news_box">
	  <p><a href="http://www.divakar.in/software-the-art/a-weekend-spent-well/" target="_blank">http://www.divakar.in/software-the-art/a-weekend-spent-well/</a></p>
	</div>
	<div class="news_box">
	  <p><a href="http://janeve.wordpress.com/2010/07/21/agilencr-2010/" target="_blank">http://janeve.wordpress.com/2010/07/21/agilencr-2010/</a></p>
	</div>
	<div class="news_box">
	  <p><a href="http://blog.xebia.com/2008/03/09/impression-of-agile-ncr-conference-march-8th-gurgaon-india/" target="_blank">http://blog.xebia.com/2008/03/09/impression-of-agile-ncr-conference-march-8th-gurgaon-india/</a></p>
	</div>
	<div class="news_box">
	  <p><a href="http://xebee.xebia.in/2010/07/20/to-all-agile-ncr-2010-participants/" target="_blank">http://xebee.xebia.in/2010/07/20/to-all-agile-ncr-2010-participants/</a></p>
	</div>
  </div>
</div>