<span class="nice-text-green">
  AgileNCR was founded by Xebia in the year 2007 when Agile software development was in nascent stages in India. We started this initiative with a clear intention of sharing knowledge and practices with the whole community. Since then years have passed and AgileNCR has become the most popular and the biggest Agile event in India.
  <br/><br/>
	Last edition - AgileNCR 2010 saw an overwhelming response from the community, we saw over 300+ participants from the 50+ organizations all across the India.
  <br/><br/>
	International speakers, industry practitioners, agile gurus have been associated with AgileNCR time and again. Pete Deemer, Sanjiv Augustine, Serge Beaumont, Hedwig Baars, Rini van Soligen are just a few names worth a mention among others.</span></span>