<div class="content_full">
  <h1><b>Agenda for AgileNCR 2011</b></h1><br/>
  <h2><b>25th Feb 2011</b></h2>
  <div class="table_data"><table cellspacing="0" cellpadding="0" class="budget table_border">
	  <thead>
		<tr>
		  <th class="no_border">Timing</th>
		  <th >Room 1</th>
		  <th >Main Hall</th>
		  <th >Open Space / Workshop</th>
		</tr>
	  </thead>
	  <tfoot>
	  </tfoot>
	  <tbody>
		<tr class="odd">
		  <td class="no_border">9:00 am - 9:50 am</td>
		  <td class="middle_align bg_green">Agility in HR : The Xebia Story <br/>- Bharti Kakroo (Xebia)</td>
		  <td class="middle_align bg_blue">What is Agility ? - Shaik Mohammed (Paypal)</td>
		  <td class="middle_align bg_pink">-</td>
		</tr>
		<tr class="even">
		  <td class="no_border">10:00 am - 10:50 am</td>
		  <td class="middle_align bg_green">-</td>
		  <td class="middle_align bg_blue">The 5 Secrets of Success for Distributed Agile - Pete Deemer</td>
		  <td class="middle_align bg_pink">-</td>
		</tr>
		<tr class="odd">
		  <td colspan="4" valign="top" class="no_border break_bg no_padding"><div class="user_headings">
			  <p class="data">Tea Break</p>
			</div></td>
		</tr>
		<tr class="odd">
		  <td class="no_border">11:05 am - 11:55 am</td>
		  <td class="middle_align bg_green">-</td>
		  <td class="middle_align bg_blue">Agile, from rebel to regular : What does that mean for the future of Agile? - Olav Maassen (Xebia)</td>
		  <td class="middle_align bg_pink">-</td>
		</tr>
		<tr class="even">
		  <td class="no_border">12:05 pm - 12:55 pm</td>
		  <td class="middle_align bg_green">To manage or not to manage - Mehjabeen Poonawala (Amdocs)</td>
		  <td class="middle_align bg_blue">Morphing Scrum to Kanban - Ruchika Goyal (Xebia)</td>
		  <td class="middle_align bg_pink">Agile in a non-traditional development environment - Kanchan Khera (McKinsey)</td>
		</tr>
		<tr class="odd">
		  <td colspan="4" valign="top" class="no_border break_bg no_padding"><div class="user_headings">
			  <p class="data2">Lunch Break</p>
			</div></td>
		</tr>
		<tr class="odd">
		  <td class="no_border">2:00 pm - 2:50 pm</td>
		  <td class="middle_align bg_green">-</td>
		  <td class="middle_align bg_blue">Working towards true Scrum mastery - Sanjiv Augustine</td>
		  <td class="middle_align bg_pink">-</td>
		</tr>
		<tr class="even">
		  <td class="no_border">3:00 pm - 3:50 pm</td>
		  <td class="middle_align bg_green">-</td>
		  <td class="middle_align bg_blue">Whose bug is it anyway? - Vibhu Srinivasan</td>
		  <td class="middle_align bg_pink">-</td>
		</tr>
		<tr class="odd">
		  <td colspan="4" valign="top" class="no_border break_bg no_padding"><div class="user_headings">
			  <p class="data">Tea Break</p>
			</div></td>
		</tr>
		<tr class="even">
		  <td class="no_border">4:05 pm - 4:55 pm</td>
		  <td class="middle_align bg_green">7 steps to winning Agile wars - Asheesh Mehdiratta (Pitney Bowes)</td>
		  <td class="middle_align bg_blue">Test Driven Design - Jonas Auken (7N / Jyske Bank)</td>
		  <td class="middle_align bg_pink">Learning Agile values through roleplay - Madhur Kathuria (ISEC)</td>
		</tr>
	  </tbody>
	  <tbody>
	  </tbody>
	</table>
  </div>

  <h2><b>26th Feb 2011</b></h2>
  <div class="table_data"><table cellspacing="0" cellpadding="0" class="budget table_border">
	  <thead>
		<tr>
		  <th class="no_border">Timing</th>
		  <th >Room 1</th>
		  <th >Main Hall</th>
		  <th >Open Space / Workshop</th>
		</tr>
	  </thead>
	  <tfoot>
	  </tfoot>
	  <tbody>
		<tr class="odd">
		  <td class="no_border">9:00 am - 9:50 am</td>
		  <td class="middle_align bg_green">Agile Maturity Model - Raj (Huawei)</td>
		  <td class="middle_align bg_blue">Agile beyond software development: What is an Agile company - Deepak Mittal (Intelligrape)</td>
		  <td class="middle_align bg_pink">-</td>
		</tr>
		<tr class="even">
		  <td class="no_border">10:10 am - 10:50 am</td>
		  <td class="middle_align bg_green">-</td>
		  <td class="middle_align bg_blue">Methodology Doesn't Matter  - Jesse Fewell</td>
		  <td class="middle_align bg_pink">-</td>
		</tr>
		<tr class="odd">
		  <td colspan="4" valign="top" class="no_border break_bg no_padding"><div class="user_headings">
			  <p class="data">Tea Break</p>
			</div></td>
		</tr>
		<tr class="odd">
		  <td class="no_border">11:05 am - 11:55 am</td>
		  <td class="middle_align bg_green">-</td>
		  <td class="middle_align bg_blue">Towards Lean Enterprise Transformation - Nilay Oza</td>
		  <td class="middle_align bg_pink">-</td>
		</tr>
		<tr class="even">
		  <td class="no_border">12:05 pm - 12:55 pm</td>
		  <td class="middle_align bg_green">Top Metrics for Agile - Priyank (Cybercom Datamatics)</td>
		  <td class="middle_align bg_blue">Scrum and Lean : Multiply the powers - Om Band (SAP)</td>
		  <td class="middle_align bg_pink">Agile Estimations - Mayur (Xebia)</td>
		</tr>
		<tr class="odd">
		  <td colspan="4" valign="top" class="no_border break_bg no_padding"><div class="user_headings">
			  <p class="data2">Lunch Break</p>
			</div></td>
		</tr>
		<tr class="odd">
		  <td class="no_border">2:00 pm - 2:50 pm</td>
		  <td class="middle_align bg_green">Organizing self-organizing teams <br/>- Rashina Hoda (Victoria University of Wellington, New Zealand)</td>
		  <td class="middle_align bg_blue">Agile in an Abstracted World - Rohit Bansal (Thoughtworks)</td>
		  <td class="middle_align bg_pink">When Agile offshoring does not work - Iwein Fuld (Xebia)</td>
		</tr>
		<tr class="even">
		  <td class="no_border">3:00 pm - 3:50 pm</td>
		  <td class="middle_align bg_green">Scrumban - Divakar Pratap Singh(Ericsson)</td>
		  <td class="middle_align bg_blue">Testing isn't just testing anymore - Shweta Parashar (Xebia)</td>
		  <td class="middle_align bg_pink">Anti-pattens in distributed Agile <br/>- Preeti Madhu (Thoughtworks)</td>
		</tr>
		<tr class="odd">
		  <td colspan="4" valign="top" class="no_border break_bg no_padding"><div class="user_headings">
			  <p class="data">Social Meetup</p>
			</div></td>
		</tr>
	  </tbody>
	  <tbody>
	  </tbody>
	</table>
  </div>
</div>