<div class="content_full">
  <h1><b>Agenda for AgileNCR 2011</b></h1><br/>
  <h2><b>25th Feb 2011</b></h2>
  <div class="table_data"><table cellspacing="0" cellpadding="0" class="budget table_border">
	  <thead>
		<tr>
		  <th class="no_border">Timing</th>
		  <th >Room 1</th>
		  <th >Room 2</th>
		  <th >Room 3</th>
		</tr>
	  </thead>
	  <tfoot>
	  </tfoot>
	  <tbody>
		<tr class="odd">
		  <td class="no_border">9:30 am - 12 pm</td>
		  <td class="middle_align bg_green"></td>
		  <td class="middle_align bg_blue"></td>
		  <td class="middle_align bg_pink"></td>
		</tr>
		<tr class="even">
		  <td class="no_border">9:30 am - 12 pm</td>
		  <td class="middle_align bg_green"></td>
		  <td class="middle_align bg_blue"></td>
		  <td class="middle_align bg_pink"></td>
		</tr>
		<tr class="odd">
		  <td class="no_border">9:30 am - 12 pm</td>
		  <td class="middle_align bg_green"></td>
		  <td class="middle_align bg_blue"></td>
		  <td class="middle_align bg_pink"></td>
		</tr>
		<tr class="even">
		  <td class="no_border">9:30 am - 12 pm</td>
		  <td class="middle_align bg_green"></td>
		  <td class="middle_align bg_blue"></td>
		  <td class="middle_align bg_pink"></td>
		</tr>
		<tr class="odd">
		  <td class="no_border">9:30 am - 12 pm</td>
		  <td class="middle_align bg_green"></td>
		  <td class="middle_align bg_blue"></td>
		  <td class="middle_align bg_pink"></td>
		</tr>
		<tr class="odd">
		  <td colspan="4" valign="top" class="no_border break_bg no_padding"><div class="user_headings">
			  <p class="data">Break</p>
			</div></td>
		</tr>
		<tr class="odd">
		  <td class="no_border">9:30 am - 12 pm</td>
		  <td class="middle_align bg_green"></td>
		  <td class="middle_align bg_blue"></td>
		  <td class="middle_align bg_pink"></td>
		</tr>
	  </tbody>
	  <tbody>
	  </tbody>
	</table>
  </div>
</div>