<div class="content_full">
  <h1><b>Agenda for AgileNCR 2011 <a href="/pages/register" style="margin-left: 346px;"><img src="/images/regiternow_btn.jpg"  alt="Register Now" style="float:right"/></a></b></h1>
  <br/>
  <h2><b>Day 1 (25 Feb, Friday)</b></h2><br/>
  <div class="table_data">
	<table cellspacing="0" cellpadding="0" class="budget table_border">
	  <thead>
		<tr>
		  <th class="no_border">Timing</th>
		  <th >Track 1</th>
		  <th >Track 2</th>
		  <th >Track 3</th>
		</tr>
	  </thead>
	  <tfoot>
	  </tfoot>
	  <tbody>
		<tr class="odd">
		  <td class="no_border"><b>8:30 am - 9:00 am</b></td>
		  <td colspan="3"><b>Attendee Welcome and Registration</b></td>
		</tr>
		<tr class="odd">
		  <td class="no_border"><b>9:00 am - 9:50 am</b></td>
		  <td class="middle_align bg_green"><a id="sess-13" href="/details/raj">Agile Maturity Model - Raj (Huawei)</a></td>
		  <td class="middle_align bg_blue"><a id="sess-2" href="/details/shaik">What is Agility ? - Shaik Mohammed (Paypal)</a></td>
		  <td class="middle_align bg_pink">&nbsp;</td>
		</tr>
		<tr class="even">
		  <td class="no_border"><b>10:00 am - 10:50 am</b></td>
		  <td class="middle_align bg_green">&nbsp;</td>
		  <td class="middle_align bg_blue"><a id="sess-3" href="/details/pete">The 5 Secrets of success for Distributed Agile - Pete Deemer (GoodAgile)</a></td>
		  <td class="middle_align bg_pink">&nbsp;</td>
		</tr>
		<tr class="odd">
		  <td colspan="4" valign="top" class="no_border no_padding break_back">
			<div class="user_headings">
			  <p class="data">Tea Break</p>
			</div>
		  </td>
		</tr>
		<tr class="odd">
		  <td class="no_border"><b>11:05 am - 11:55 am</b></td>
		  <td class="middle_align bg_green">&nbsp;</td>
		  <td class="middle_align bg_blue"><a id="sess-4" href="/details/sanjiv">Working towards true Scrum Mastery - Sanjiv Augustine (LitheSpeed)</a></td>
		  <td class="middle_align bg_pink">&nbsp;</td>
		</tr>
		<tr class="even">
		  <td class="no_border"><b>12:05 pm - 12:55 pm</b></td>
		  <td class="middle_align bg_green"><a id="sess-5" href="/details/mehjabeen">To manage or not to manage - Mehjabeen Poonawala (Amdocs)</a></td>
		  <td class="middle_align bg_blue"><a id="sess-6" href="/details/ruchika">Morphing Scrum to Kanban - Ruchika Goyal (Xebia)</a></td>
		  <td class="middle_align bg_pink"><a id="sess-7" href="/details/kanchan">Agile in a non-traditional development environment - Kanchan Khera (McKinsey)</a></td>
		</tr>
		<tr class="odd">
		  <td colspan="4" valign="top" class="no_border no_padding break_back"><div class="user_headings">
			  <p class="data2">Lunch Break</p>
			</div></td>
		</tr>
		<tr class="odd">
		  <td class="no_border"><b>2:00 pm - 2:50 pm</b></td>
		  <td class="middle_align bg_green">&nbsp;</td>
		  <td class="middle_align bg_blue"><a id="sess-8" href="/details/olav">Agile, from Rebel to Regular : What does that mean for the future of Agile? - Olav Maassen (Xebia)</a></td>
		  <td class="middle_align bg_pink">&nbsp;</td>
		</tr>
		<tr class="even">
		  <td class="no_border"><b>3:00 pm - 3:50 pm</b></td>
		  <td class="middle_align bg_green">&nbsp;</td>
		  <td class="middle_align bg_blue"><a id="sess-9" href="/details/vibhu">Whose bug is it anyway? - Vibhu Srinivasan (SolutionsIQ)</a></td>
		  <td class="middle_align bg_pink">&nbsp;</td>
		</tr>
		<tr class="odd">
		  <td colspan="4" valign="top" class="no_border no_padding break_back">
			<div class="user_headings">
			  <p class="data">Tea Break</p>
			</div>
		  </td>
		</tr>
		<tr class="even">
		  <td class="no_border"><b>4:05 pm - 4:55 pm</b></td>
		  <td class="middle_align bg_green"><a id="sess-10" href="/details/asheesh">7 steps to winning Agile wars - Asheesh Mehdiratta (Pitney Bowes)</a></td>
		  <td class="middle_align bg_blue"><a id="sess-11" href="/details/jonas">Test Driven Design - Jonas Auken (7N / Jyske Bank)</a></td>
		  <td class="middle_align bg_pink"><a id="sess-12" href="/details/madhur">Learning Agile values through roleplay - Madhur Kathuria (ISEC)</a></td>
		</tr>
	  </tbody>
	  <tr class="odd">
		<td colspan="4" style="border-left: none">
		  <h2><b>Day 2 (26 Feb, Saturday)</b></h2>
		</td>
	  </tr>
	  <thead>
		<tr>
		  <th style="border-top: none; border-left: none">Timing</th>
		  <th style="border-top: none">Track 1</th>
		  <th style="border-top: none">Track 2</th>
		  <th style="border-top: none">Track 3</th>
		</tr>
	  </thead>
	  <tfoot>
	  </tfoot>
	  <tbody>
		<tr class="odd">
		  <td class="no_border"><b>8:30 am - 9:00 am</b></td>
		  <td colspan="3"><b>Attendee Welcome and Registration</b></td>
		</tr>
		<tr class="odd">
		  <td class="no_border"><b>9:00 am - 9:50 am</b></td>
		  <td class="middle_align bg_green"><a id="sess-1" href="/details/bharti">Agility in HR : The Xebia Story - Bharti Kakroo & Sabeen Parveen (Xebia)</a></td>
		  <td class="middle_align bg_blue"><a id="sess-14" href="/details/deepak">Agile beyond software development: What is an Agile company - Deepak Mittal (IntelliGrape)</a></td>
		  <td class="middle_align bg_pink">&nbsp;</td>
		</tr>
		<tr class="even">
		  <td class="no_border"><b>10:10 am - 10:50 am</b></td>
		  <td class="middle_align bg_green">&nbsp;</td>
		  <td class="middle_align bg_blue"><a id="sess-15" href="/details/jesse">Methodology doesn't matter  - Jesse Fewell (RippleRock)</a></td>
		  <td class="middle_align bg_pink">&nbsp;</td>
		</tr>
		<tr class="odd">
		  <td colspan="4" valign="top" class="no_border no_padding break_back"><div class="user_headings">
			  <p class="data">Tea Break</p>
			</div></td>
		</tr>
		<tr class="odd">
		  <td class="no_border"><b>11:05 am - 11:55 am</b></td>
		  <td class="middle_align bg_green">&nbsp;</td>
		  <td class="middle_align bg_blue"><a id="sess-16" href="/details/nilay">Towards Lean Enterprise Transformation - Nilay Oza (VTT Research Center, Finland)</a></td>
		  <td class="middle_align bg_pink">&nbsp;</td>
		</tr>
		<tr class="even">
		  <td class="no_border"><b>12:05 pm - 12:55 pm</b></td>
		  <td class="middle_align bg_green"><a id="sess-17" href="/details/priyank">Top metrics for Agile - Priyank (Cybercom Datamatics)</a></td>
		  <td class="middle_align bg_blue"><a id="sess-18" href="/details/om">Scrum and Lean : Multiply the Powers - Om Band (SAP)</a></td>
		  <td class="middle_align bg_pink"><a id="sess-19" href="/details/mayur">Agile Estimations - Mayur Gupta, Karan Nangru and Robin Nagpal (Xebia)</a></td>
		</tr>
		<tr class="odd">
		  <td colspan="4" valign="top" class="no_border no_padding break_back"><div class="user_headings">
			  <p class="data2">Lunch Break</p>
			</div></td>
		</tr>
		<tr class="odd">
		  <td class="no_border"><b>2:00 pm - 2:50 pm</b></td>
		  <td class="middle_align bg_green"><a id="sess-20" href="/details/rashina">Organizing self-organizing teams - Rashina Hoda (Victoria Univ. of Wellington, New Zealand)</a></td>
		  <td class="middle_align bg_blue"><a id="sess-21" href="/details/rohit">Agile in an Abstracted World - Rohit Bansal (Thoughtworks)</a></td>
		  <td class="middle_align bg_pink"><a id="sess-22" href="/details/iwein">When Agile offshoring does not work - Iwein Fuld (Xebia)</a></td>
		</tr>
		<tr class="even">
		  <td class="no_border"><b>3:00 pm - 3:50 pm</b></td>
		  <td class="middle_align bg_green"><a id="sess-23" href="/details/divakar">Scrumban - Divakar Pratap Singh (Ericsson)</a></td>
		  <td class="middle_align bg_blue"><a id="sess-24" href="/details/shweta">Testing isn't just Testing anymore - Shweta Parashar (Xebia)</a></td>
		  <td class="middle_align bg_pink"><a id="sess-25" href="/details/preethi">Anti-patterns in Distributed Agile - Preethi Madhu (Thoughtworks)</a></td>
		</tr>
		<tr class="odd">
		  <td colspan="4" valign="top" class="no_border no_padding break_back"><div class="user_headings">
			  <p class="data">Social Meetup</p>
			</div></td>
		</tr>
	  </tbody>
	  <tbody>
	  </tbody>
	</table>  <div class="clr"></div>
	<div style="font-size: 12px;margin-top: 20px;font-style: italic">Please note that the presentations may be cancelled or rescheduled at the last minute due to reasons beyond our control. For any comments and suggestions, please email to agilencr (at) gmail (dot) com. Registration fee is not refundable.</div>
  </div>
</div>
<script type="text/javascript">
  $(function() {
	$("a[id^=sess-]").fancybox({
	  'width'				: '70%',
	  'height'				: '70%',
	  'autoScale'			: false,
	  'transitionIn'		: 'none',
	  'transitionOut'		: 'none',
	  'type'				: 'iframe'
	});
  });
</script>
