<% content_for :head do %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<% end %>

<div class="content_full">
  <h1>AgileNCR 2011 will be held on <b>25th and 26th February 2011</b> at -</h1>
  <h2 style="text-align: left">Wyndham Hotel and Resort</h2>
  <h2 style="text-align: left">Plot No. 3, Dwarka City Center,<br/> Sector - 10, Dwarka</h2>
  <h2 style="text-align: left">New Delhi - 110075</h2>

  <div id="map_box"></div>


  <h1>Directions</h1>
  <p>
	Once in Dwarka ask for Sector 10, Metro Station.
    On Google Maps:<a href="http://goo.gl/maps/7OMS" target="_blank">http://goo.gl/maps/7OMS</a>

  </p>
  <h4>Metro:  </h4>
  <p>Take Metro Dwarka line. Get down at Sector 10, Dwarka Metro Station. Wyndham is just 5 minutes walking distance from the station.
	Metro Dwarka Line is accessible from Rajiv Chowk Metro Station in Connaught Place and also from the metro stations is NOIDA.
	If you are coming from Gurgaon by Metro, you will have to change at Rajiv Chowk.</p>
  <h4>From Gurgaon by Car/Taxi: </h4>
  <p>After crossing the toll plaza, take the exit towards Dwarka. After passing the Bijwasan underpass,  take right turn  and then follow the metro line. You will see the hotel on your right side once you are near  Sector 10 Metro station.</p>
  <h4> From  South Delhi, East Delhi, NOIDA by Car/Taxi:</h4>
  <p>From Dhaula Kuan drive towards, Terminal T1 (Old Domestic Airport). Take Dwarka underpass and then Dwarka Flyover.  Take left on Road 224. After passing the metro line take right turn.  You will see the hotel on your right side once you are near  Sector 10 Metro station.
  </p>
  <h4>From  West Delhi by Car/Taxi:</h4>
  <p>Go to Dwarka then ask for Sector 10 Metro Station.</p>
  <h4>From Delhi Airport T3, T1:</h4>
  <p>Take a taxi from the terminal T1 or T3. The hotel is at 20 minutes drive from the terminals. The approximate radio cab fare should be Rs. 350. You will see the hotel  once you are near  Sector 10 Metro station.</p>
  <h4>From New Delhi/Old Delhi Station:</h4>
  <p>Take Metro to Rajiv Chowk. Then follow the directions for Metro.</p>
  <h4>Parking</h4>
  <p>There is ample parking space available in Wyndham hotel and in the nearby metro station.</p>
</div>
<p style="padding-left: 10px; padding-top: 15px; font-style: italic">Please note that there has been a change in venue and the venue shown above is now final.</p>

<script type="text/javascript">
  $(function() {
	var myLatlng = new google.maps.LatLng(28.579886424952953, 77.05587387084961);

	var myOptions = {
      zoom: 15,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }

	var map = new google.maps.Map(document.getElementById("map_box"), myOptions);

    var marker = new google.maps.Marker({
	  position: myLatlng,
	  map: map,
	  title:"Wyndham Hotel and Resort"
    });
  });
</script>