<% content_for :head do %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<% end %>

<div class="content_full">
  <h1>AgileNCR 2011 will be held on <b>25th and 26th February 2011</b> at -</h1>
  <h2 style="text-align: left">Wyndham Hotel and Resort</h2>
  <h2 style="text-align: left">Plot No. 3, Dwarka City Centre, Sector - 10, Dwarka Sector 10, Dwarka</h2>
  <h2 style="text-align: left">New Delhi - 110075</h2>
</div>
<div id="map_box"></div>
<p style="padding-left: 8px">The hotel is located at a 5 minutes walk from the Sector-10 Metro Station on the Dwarka line.</p><br/>
<p style="padding-left: 8px; font-style: italic">Please note that there has been a change in venue and the venue shown above is now final.</p>
<script type="text/javascript">
  $(function() {
	var myLatlng = new google.maps.LatLng(28.579886424952953, 77.05587387084961);

	var myOptions = {
      zoom: 15,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }

	var map = new google.maps.Map(document.getElementById("map_box"), myOptions);

    var marker = new google.maps.Marker({
	  position: myLatlng,
	  map: map,
	  title:"NCUI Convention Centre"
    });
  });
</script>