<div class="content_left">
  <div class="innercontent_area">
	Thank you for your interest in AgileNCR 2011.
	<br/><br/>
	<% @submissions.each do |submission| %>
		  Your submission titled <b>"<%= link_to submission.title, user_submission_path(submission.user.id, submission.id) %>"</b> has the status - <%= submission.submission_status %>.
	  <% if submission.submission_status != "WITHDRAWN" %>
				You can withdraw your submission by clicking <%=  link_to "here", :controller => "submissions", :action => "withdraw", :id => submission.id %>.
	  <% end %>
	  <br/><br/>
	<%  end %>
	<br/><br/>
	Click <%=  link_to "here", new_user_submission_path %> to add a session as a presenter.
  </div>
</div>