<table style="width: 80%; margin: 0 auto;font: 16px Arial, Helvetica, sans-serif;">
  <tr>
	<td style="background-image:url('../../images/table_bg.png');background-repeat:repeat-x;">About the speaker</td>
  </tr>
  <tr>
	<td>
	  Asheesh has been developing software products since last 15 years and is an active agile enthusiast and evangelist. He has transitioned multiple organizations through their agile journeys and loves to engage the agile warriors.
	</td>
  </tr>
  <tr>
	<td style="background-image:url('../../images/table_bg.png');background-repeat:repeat-x;">Session Abstract</td>
  </tr>
  <tr>
	<td>
	  The presentation provide a 7 step guide to practical agile adoption engaging multiple stakeholders in the organization, including sponsors, middle management, engineering, quality teams and the supporting environment. "Practical" tips would include real world examples / patterns / anti-patterns and tools for quick wins.
	</td>
  </tr>
</table>