<table style="width: 80%; margin: 0 auto;font: 16px Arial, Helvetica, sans-serif;">
  <tr>
	<td style="background-image:url('../../images/table_bg.png');background-repeat:repeat-x;">About the speaker</td>
  </tr>
  <tr>
	<td>
	  Divakar is a part of Agile coaching team that coaches R&D team members in Ericsson, Gurgaon center.
	</td>
  </tr>
  <tr>
	<td style="background-image:url('../../images/table_bg.png');background-repeat:repeat-x;">Session Abstract</td>
  </tr>
  <tr>
	<td>
	  The presentation would focus upon the next steps a scrum team has to take once it is smoothly sailing in Scrum.
	  ScrumBan is the next maturity level where team can further improve the productivity. It is not a concept that has been described in detail till now. I have been doing a lot of research in this areas. I plan to present around following topics:
	  <br/><br/>
	  1. How and when do you know you are ready to adopt ScrumBan<br/><br/>
	  2. Pros and cons<br/><br/>
	  3. Effect of culture and mindset on ScrumBan
	</td>
  </tr>
</table>