<table style="width: 80%; margin: 0 auto;font: 16px Arial, Helvetica, sans-serif;">
  <tr>
	<td style="background-image:url('../../images/table_bg.png');background-repeat:repeat-x;">About the speaker</td>
  </tr>
  <tr>
	<td>
	  Iwein is an experienced developer with experience in telecommunications, electronics and finance. Iwein is a proven Agile trainer and consultant. He is an expert in Spring and Amazon EC2, a committer on the Spring Integration project. Also one of the authors of "Spring Integration in Action" book.
	</td>
  </tr>
  <tr>
	<td style="background-image:url('../../images/table_bg.png');background-repeat:repeat-x;">Session Abstract</td>
  </tr>
  <tr>
	<td>
	  There are many reasons for Offshoring to fail. Some of which are overcome by working with ADD, but some of which are not.

	  As an experienced developer, architect and Scrum Master in both successful and failing offshoring teams Iwein Fuld would like to gather the knowledge of experts experienced in this field to produce a set of factors that determine the success or failure.

	  Ultimate goal is to make more informed decisions on going for offshoring or not and to avoid (costly) mistakes.
	</td>
  </tr>
</table>