<table style="width: 80%; margin: 0 auto;font: 16px Arial, Helvetica, sans-serif;">
  <tr>
	<td style="background-image:url('../../images/table_bg.png');background-repeat:repeat-x;">About the speaker</td>
  </tr>
  <tr>
	<td>
	  Kanchan is from AppDev Group, Gurgaon with McKinsey. She is heading Survey Development Center and is also on the core leadership for Application Development group in Gurgaon. She has done few projects in Agile and had an opportunity to take agile into a new serviceline. She has 10 years experience working with McKinsey. In education, after her bachelors in Engg. she has done executive MBA from IIM Banglore.
	</td>
  </tr>
  <tr>
	<td style="background-image:url('../../images/table_bg.png');background-repeat:repeat-x;">Session Abstract</td>
  </tr>
  <tr>
	<td>
	  Extending agile to a non-traditional development environment
	  We program online surveys. Developing surveys is different from a normal development in multiple ways<br/>
	  ■	Very short span on time for deployment (May vary from 1 day to  couple of weeks)<br/>
	  ■	Numerous iterations even till the last moment<br/>
	  ■	One person on multiple projects<br/>
	  ■	Proving 16*5 development for global users<br/>
	  ■	Everything we deliver has to be production ready<br/>
	  <br/>
	  What we did earlier before we started agile?
	  SDC was a team of 35+ people. We had 4 subteam teams covering 16*5 development. 2 for general projects and 2 for dedicated projects. Each subteam had its own Project Manager and his team of dedicated developers. We were doing great and had a great user satisfaction and within budget!

	  How we changed with agile?
	  We merged 4 teams into 2 subteams with some alignment on the dedicated projects thus imbibing the principles of agile that everybody on the team should be generalists. Now, each team runs like a agile team. The day begins with a planning session. At the end of the day the team provides project updates to the next team. Our stands ups happened initially at the middle of the day but then faded away to become announcements. With this people started updating about their status update.
	  We started doing our weekly retros and clearing off our deltas.
	  The change was a big one for the team. Issues started to surface and got solved by the team.

	  Finally we made a huge impact by achieving 35% more with 2/3rd of the team size. Our quality also was intact and users happy with additional coverage.
	</td>
  </tr>
</table>