<table style="width: 80%; margin: 0 auto;font: 16px Arial, Helvetica, sans-serif;">
  <tr>
	<td style="background-image:url('../../images/table_bg.png');background-repeat:repeat-x;">About the speaker</td>
  </tr>
  <tr>
	<td>
	  Mayur Gupta has 8+ years of experience in software industry in various domains like Retail, Healthcare, and Insurance etc. He is a Principle Consultant at Xebia India. He is also an Agile Coach & Trainer with a strong passion towards technology. 
	</td>
  </tr>
  <tr>
	<td style="background-image:url('../../images/table_bg.png');background-repeat:repeat-x;">Session Abstract</td>
  </tr>
  <tr>
	<td>
	  The purpose of the presentation will be to explain how to do estimation & planning in Agile. The presentation will also involve discussing grey areas when it comes the above topic along with focusing on the non-trivial stuff.
	</td>
  </tr>
</table>