<table style="width: 80%; margin: 0 auto;font: 16px Arial, Helvetica, sans-serif;">
  <tr>
	<td style="background-image:url('../../images/table_bg.png');background-repeat:repeat-x;">About the speaker</td>
  </tr>
  <tr>
	<td>
	  Dr. Nilay Oza is a senior R&D professional and a consultant. At VTT - Technical research centre of Finland, he conducts research, advises multinational companies, spearheads novel R&D initiatives. His current areas expertise include agile-lean adoption and enterprise transformation, Green IT business models, innovative leadership, and global software business. He has been providing consultation in large scale agile transformation, innovation enablement, and global software business coordination. His most recent interest has been values-driven management and coaching at senior leadership level.
	</td>
  </tr>
  <tr>
	<td style="background-image:url('../../images/table_bg.png');background-repeat:repeat-x;">Session Abstract</td>
  </tr>
  <tr>
	<td>
	  This talk is about our continuing journey towards a leaner enterprise. Under the monikers of constantly emerging ways of developing software products, managers have been trying to chase up with whatever gives answers to their ‘faster-better-cheaper’ triangle. It is more about developing the 'helicopter' view and drive it to the 'ground' level in highly inter-dependent, complex environment. This talk will also challenge notions of agile-lean thinking particularly from implementation perspectives which have mainly become jumping from 'fad-to-fad' scenarios. As a result of the talk, the audience will leave with their thinking machine sparked on their own adoption of agile-lean journey towards an enterprise they have dreamed about.
	</td>
  </tr>
</table>