<table style="width: 80%; margin: 0 auto;font: 16px Arial, Helvetica, sans-serif;">
  <tr>
	<td style="background-image:url('../../images/table_bg.png');background-repeat:repeat-x;">About the speaker</td>
  </tr>
  <tr>
	<td>
	  Olav's central theme is to help others perform at their best. He is interested in new developments and new ideas that can help others improve themselves. He knows how to inspire people to optimize their capacities/skills in order to get the best results for both themselves and the company.
	  <br/><br/>
	  Olav is an active participant in the agile community. He was one of the founders of AgileHolland[1], a foundation for promoting the use of agile methods in the Netherlands, and he was actively involved in organizing international conferences such as Agile2009[2] and LSSC2011[3].
	  <br/><br/>
	  Furthermore Olav is often invited as a speaker and presenter at international conferences. His presentations are often described as engaging and fun. The recurring theme of (most of) his presentations is how transparency and trust can influence an organization.
	  <br/><br/>
	  Before joining Xebia, Olav worked for several consulting firms. During his time at Sun, he worked for Sun Educational Services as a Master Java Trainer.
	  <br/><br/>
	  In 2002 he has published a book on Java and Design Patterns: “Applied Java Patterns”[4].  Currently, he is working on a new book together with Chris Matts on decision making using real options, which is due in 2012.
	</td>
  </tr>
  <tr>
	<td style="background-image:url('../../images/table_bg.png');background-repeat:repeat-x;">Session Abstract</td>
  </tr>
  <tr>
	<td>
	  The agile movement is now officially 10 years old. 10 years ago a group of men got together in a cabin and drafted up a document. A document that described the shared ideas about their respective methodologies. All these methodologies could be characterized as pragmatic, result focused and revolutionary. They were the result of the context in which they existed and a contra movement against the established way of working so far.
	  <br/><br/>The world has changed a lot since 2001. The agile way of working changed the IT world and the collective experiences changed agile. Instead of being a contra movement and revolutionary, agile has become mainstream. It seems to have become the default way of working for new projects and new companies.
	  <br/><br/>In this talk, Olav Maassen explores the origins of agile, what caused it into existence, the current state of agile and what this means for the future. How has all this accumulated experience of all these implementations of various agile methodologies changed agile in the last 10 years? As the world has changed so has the role of agile changed. What can we expect from the next contra movement now that agile is no longer the rebel?
	</td>
  </tr>
</table>