<table style="width: 80%; margin: 0 auto;font: 16px Arial, Helvetica, sans-serif;">
  <tr>
	<td style="background-image:url('../../images/table_bg.png');background-repeat:repeat-x;">About the speaker</td>
  </tr>
  <tr>
	<td>
	  Om is a development manager at SAP and has around 12 years of industry experience. He has managed different projects with different sizes and with following different methodologies.

	  For the last couple of years he was actively involved in the company’s large scale adoption towards scrum and Lean.
	</td>
  </tr>
  <tr>
	<td style="background-image:url('../../images/table_bg.png');background-repeat:repeat-x;">Session Abstract</td>
  </tr>
  <tr>
	<td>
	  Scrum and Lean are 2 different methodologies. Evolved at different times, different geographies, under different circumstances to solve different problems. Yet they have quite some similarities in principles and are complimentary in processes.

	  The presentation aims to explain how to blend them together to create a more powerful methodology for software development. Also talk about the challenges in the way and some tools to be used. 
	</td>
  </tr>
</table>