<table style="width: 80%; margin: 0 auto;font: 16px Arial, Helvetica, sans-serif;">
  <tr>
	<td style="background-image:url('../../images/table_bg.png');background-repeat:repeat-x;">About the speaker</td>
  </tr>
  <tr>
	<td>
	  Pete Deemer is one of about 100 Certified Scrum Trainers worldwide, and he specializes in working with development teams throughout Asia and the Pacific Rim. He received his CSM training and CST sponsorship from Ken Schwaber, who created Scrum with Dr. Jeff Sutherland. Along with Dr. Sutherland, Pete is one of the founders of The Scrum Training Institute, and he is the co-author of The Scrum Primer, one of the most widely read introductions to Scrum.
	  <br/><br/>
	  Pete has spent the last 22 years leading teams building products and services at global companies. Pete was the senior executive who led Yahoo!'s successful large-scale corporate adoption of Scrum, which grew to more than 2,000 employees worldwide. During his Yahoo! tenure, he served as Vice President of Product Development for Yahoo! in the US, as well as Chief Product Officer of Yahoo!'s 1500-person Research and Development center in Bangalore, India.
	  <br/><br/>
	  Pete is an honors graduate of Harvard University, and has spent a number of years as adjunct faculty at University of California Berkeley, most recently in the Graduate School of Business, where he received the prestigious Club 6 teaching award. Pete has been appointed a visiting lecturer at the Institute of Systems Science at the National University of Singapore for the 2010-2011 academic year.
	</td>
  </tr>
  <tr>
	<td style="background-image:url('../../images/table_bg.png');background-repeat:repeat-x;">Session Abstract</td>
  </tr>
  <tr>
	<td>
	  Over the last 5 years, Pete Deemer has worked with numerous teams in India and China doing distributed development using Scrum.  He's seen some of the best at this -- such as Xebia -- and also some of the worst (who will go unnamed!).  In this session, he shares some of the best practices he's discovered to help turbo-charge distributed Scrum projects, and he'll also share funny and / or shocking stories of how _not_ to do it.
	</td>
  </tr>
</table>