<table style="width: 80%; margin: 0 auto;font: 16px Arial, Helvetica, sans-serif;">
  <tr>
	<td style="background-image:url('../../images/table_bg.png');background-repeat:repeat-x;">About the speaker</td>
  </tr>
  <tr>
	<td>
	  Preethi works in Thoughtworks consulting services group and is responsible for delivery of our consulting offerings around Agile process adoption and delivery process optimization. She has also been involved in many distributed projects as a BA and then PM. Preethi holds over 11 years experience across both delivery and coaching assignments, across a wide range of industries and domains. Prior to joining ThoughtWorks, Preethi held positions with Visual Web Solutions, E&Y and KPMG. Preethi holds a Masters in Business Management from Symbiosis Center for Management & HRD, Pune and a Bachelor Degree in Science from Bangalore University.
	</td>
  </tr>
  <tr>
	<td style="background-image:url('../../images/table_bg.png');background-repeat:repeat-x;">Session Abstract</td>
  </tr>
  <tr>
	<td>
	  The presentation covers aspects of Distributed Agile teams and the common patterns that lead to failure in effective delivery. Why does that which works well with co-located teams fall apart when in comes to distributed teams!
	</td>
  </tr>
</table>