<table style="width: 80%; margin: 0 auto;font: 16px Arial, Helvetica, sans-serif;">
  <tr>
	<td style="background-image:url('../../images/table_bg.png');background-repeat:repeat-x;">About the speaker</td>
  </tr>
  <tr>
	<td>
	  Raj is currently heading the Huawei India's Knowledge Management, Tools Management and Software Technology Management groups.
	</td>
  </tr>
  <tr>
	<td style="background-image:url('../../images/table_bg.png');background-repeat:repeat-x;">Session Abstract</td>
  </tr>
  <tr>
	<td>
	  Agile, the way it is deployed in many organizations is more from a practice perspective. This session showcases the maturity model whereby how agility can be aimed by adhering to the principles of agile and connecting with the value-to-customer.
	</td>
  </tr>
</table>