<table style="width: 80%; margin: 0 auto;font: 16px Arial, Helvetica, sans-serif;">
  <tr>
	<td style="background-image:url('../../images/table_bg.png');background-repeat:repeat-x;">About the speaker</td>
  </tr>
  <tr>
	<td>
	  Rashina has submitted her doctoral thesis on self-organizing Agile teams. She completed a bachelors with honours distinction in Computer Science from LSU, USA (2003) and her first year of Masters by thesis at Victoria before being admitted to the direct PhD program in 2006.
	</td>
  </tr>
  <tr>
	<td style="background-image:url('../../images/table_bg.png');background-repeat:repeat-x;">Session Abstract</td>
  </tr>
  <tr>
	<td>
	  
	</td>
  </tr>
</table>