<table style="width: 80%; margin: 0 auto;font: 16px Arial, Helvetica, sans-serif;">
  <tr>
	<td style="background-image:url('../../images/table_bg.png');background-repeat:repeat-x;">About the speaker</td>
  </tr>
  <tr>
	<td>
	  Rashina Hoda is a researcher, lecturer, and a certified Scrum Master. She graduated Summa-cum-Laude (GPA: 3.93/4.00) with a Bachelors with Honours distinction from Louisiana State University (USA) in 2003. She is recently submitted her PhD thesis “Self-organizing Agile teams: A Grounded Theory” at the School of Engineering and Computer Science at Victoria University of Wellington, New Zealand. Rashina has interviewed 58 Agile practitioners from across 23 organizations in the New Zealand and Indian software industries for over last 4 years as a part of her industry-based doctoral research. She has been awarded an Agile Alliance academic grant and a BuildIT PhD scholarship, besides featuring on the Victoria Top Scholar list (2008-2009). She is a member of the IEEE Computer Society, ACM, Agile Alliance, Scrum Alliance, and Agile Professionals Network - New Zealand. Her research has resulted in publications and presentations around the world, such as at ICSE2010, OOPSLA2010, CHASE2010, EuroPLOP2010, Agile2008-09, and XP2009-10 conferences. Rashina is passionate about both Agile research and practice; and enjoys presenting the “voice of Agile research” to academics and practitioners alike.
	</td>
  </tr>
  <tr>
	<td style="background-image:url('../../images/table_bg.png');background-repeat:repeat-x;">Session Abstract</td>
  </tr>
  <tr>
	<td>
	  Self-organizing Agile teams are a hallmark of Agile software development. How Agile teams are meant to self-organize in practice, however, is not well understood. Based on an original, industry-based PhD research involving 58 Agile practitioners from 23 software organizations, this tutorial provides an overview of self-organizing teams from multiple perspectives and a description of the roles on Agile teams that make them self-organizing. This presentation will include practical implications and tips to help software practitioners better understand their roles and responsibilities in establishing and sustaining self-organizing Agile teams.
	</td>
  </tr>
</table>