<table style="width: 80%; margin: 0 auto;font: 16px Arial, Helvetica, sans-serif;">
  <tr>
	<td style="background-image:url('../../images/table_bg.png');background-repeat:repeat-x;">About the speaker</td>
  </tr>
  <tr>
	<td>
	  With over 15 years of experience in IT, Shaik has significant expertise in IT Project Management life cycle which includes Initiation, Planning, Execution, Monitoring & Control and Project Closure phases. He has been practicing Agile/Scrum for more than 5 years.
	</td>
  </tr>
  <tr>
	<td style="background-image:url('../../images/table_bg.png');background-repeat:repeat-x;">Session Abstract</td>
  </tr>
  <tr>
	<td>Teams often say “we are doing 100 % Agile*” or “we are true Agile” or “we are completely Agile”. I wonder what exactly mean by that. Is there a definite definition of this statement or is it a just saying we often abuse.
	  This paper would try to collate the various pragmatic definitions of what it means. This discussion starts from the business expectations, engineering aspects, team expectations, quality aspects and external stakeholder expectations and try to present a comprehensive definition and a big picture.
	  <br/><br/>
	  Possibly this discussion would give some tangible value to the Agile Teams thought process in building the eco system and the right context to deliver the Agility. And also would help teams in clearing their some of the misconceptions around this.
	</td>
  </tr>
</table>