<table style="width: 80%; margin: 0 auto;font: 16px Arial, Helvetica, sans-serif;">
  <tr>
	<td style="background-image:url('../../images/table_bg.png');background-repeat:repeat-x;">About the speaker</td>
  </tr>
  <tr>
	<td>
	  Shweta has more than 7 years of experience in IT industry. She has spent all these years in testing multiple domains like Finance, Travel, eLearning, and Multimedia. She has worked in both Waterfall and Agile methodologies.
	</td>
  </tr>
  <tr>
	<td style="background-image:url('../../images/table_bg.png');background-repeat:repeat-x;">Session Abstract</td>
  </tr>
  <tr>
	<td>
	  In this era most challenging role to adapt to agile development is the role of tester. That is because agile development contradicts so many things that many Testers have been taught as 'best practices'. Hence there is remarkable shift in the role of a tester from earlier days and now. It’s not only about changing roles and responsibilities; however it is all about changed expectations from that role. One has to develop different aptitude and attitude along with great eye (not to mention basic testing skills). Industry does not expect just testing skills from a person but now testing role has got more of a business perspective. My presentation will briefly point out major changes that has come in testers perspective and perspective of rest of the world to this particular domain.
	</td>
  </tr>
</table>