<div class="speakers_box">
  <div class="speaker_pic"><img src="images/Jesse.png" height="102" width="100" alt="Jesse Fewell"/></div>
  <div class="speaker_details">
	<h2>Jesse Fewell</h2>
	<p>Jesse is a writer, speaker, and trainer in the business of technology management. Recently, he founded the PMI Agile Community of Practice, PMI's component dedicated to Agile Project Management.</p>
  </div>
</div>