<div class="speakers_box">
  <div class="speaker_pic"><img src="images/nilay_oza.jpg" height="100" width="100" alt="Nilay Oza"/></div>
  <div class="speaker_details">
	<h2>Nilay Oza</h2>
	<p>Dr. Nilay Oza is a senior R&D professional and a consultant at VTT - Technical Research Centre of Finland. His current areas expertise include agile-lean adoption and enterprise transformation among others.</p>
  </div>
</div>