<div class="speakers_box">
  <div class="speaker_pic"><img src="images/Olav.png" height="102" width="100" alt="Olav Maassen"/></div>
  <div class="speaker_details">
	<h2>Olav Maassen</h2>
	<p>Olav is writer, presenter and Principal Agile Consultant for Xebia. His central theme is helping others perform better by creating transparency and building trust in organizations.</p>
  </div>
</div>