<div class="speakers_box">
  <div class="speaker_pic"><img src="images/Pete.png" height="102" width="100" alt="Pete Deemer"/></div>
  <div class="speaker_details">
	<h2>Pete Deemer</h2>
	<p>Pete Deemer specializes in working with teams in India and throughout Asia doing distributed Scrum. Pete is the author of The Scrum Primer, one of the most widely read introductions to Scrum, and the new Distributed Scrum Primer.</p>
  </div>
</div>