<div class="speakers_box">
  <div class="speaker_pic"><img src="images/Rohit_Bansal.jpg" height="100" width="100" alt="Rohit Bansal"/></div>
  <div class="speaker_details">
	<h2>Rohit Bansal</h2>
	<p>Rohit Bansal is the Head of the Social Impact Program at ThoughtWorks. In this role, he is instrumental in bringing his learning from Agile and Lean philosophies into the social space.</p>
  </div>
</div>