<div class="speakers_box">
  <div class="speaker_pic"><img src="images/Sanjiv.jpg" height="100" width="100" alt="Sanjiv Augustine"/></div>
  <div class="speaker_details">
	<h2>Sanjiv Augustine</h2>
	<p>Sanjiv is an industry-leading Scrum and Lean expert, a Certified Scrum Trainer, and the President of LitheSpeed, an Agile consulting, training and coaching company.</p>
  </div>
</div>