<div class="speakers_box">
  <div class="speaker_pic"><img src="images/Vibhu.gif" height="100" width="100" alt="Vibhu Srinivasan"/></div>
  <div class="speaker_details">
	<h2>Vibhu Srinivasan</h2>
	<p>As Managing Director of SolutionsIQ India, Vibhu has over a decade of experience in Agile practices, he possesses a deep understanding of software delivery, Agile coaching and consulting.</p>
  </div>
</div>