<table style="width: 100%; font: 16px Arial, Helvetica, sans-serif;" >
  <tr>
	<td style="background-image:url('../../images/table_bg.png');background-repeat:repeat-x; height: 30px; padding-left: 5px;"><b>About the speaker</b></td>
  </tr>
  <tr>
	<td>
	  <p  style="padding:5px 0"><%= yield :bio %></p>
	</td>
  </tr>
  <tr>
	<td style="background-image:url('../../images/table_bg.png');background-repeat:repeat-x; height: 30px;  padding-left: 5px;"><b>Session Abstract </b></td>
  </tr>
  <tr>
	<td>
	  <p  style="padding:5px 0"><%= yield :abstract %></p>
	</td>
  </tr>
</table>