<div class="footer_content">
  <div class="adress_area">
	<h2><img src="/images/contact-us.png"  /></h2>
	<p>Please feel free to contact us at agilencr (at) gmail (dot) com or agilencr (at) yahoo (dot) com. <br />
  </div>
  <div class="social_media">
	<ul>
	  <li><a href="http://www.flickr.com/photos/xebiaindia" target="_blank"><img src="/images/flickr_icon.gif" longdesc="#" /></a></li>
	  <li><a href="http://www.facebook.com/people/Agile-Ncr/100001881565920" target="_blank"><img src="/images/facebook_icon.gif" longdesc="#" /></a></li>
	  <li><a href="http://twitter.com/agilencr" target="_blank"><img src="/images/twitter_icon.gif" longdesc="#" /></a></li>
	  <li><a href="http://www.youtube.com/XebiaIndia" target="_blank"><img src="/images/youtube_icon.gif" longdesc="#" /></a></li>
	  <li><a href="http://www.slideshare.net/agilencr" target="_blank"><img src="/images/share_icon.gif" longdesc="#" /></a></li>
	</ul>
  </div>
  <div class="copyright">&nbsp;</div>
</div>