<div class="footer_content">
  <div class="adress_area">
	<h2>Xebia IT Architects India Pvt. ltd.</h2>
	<p>612 Park Centra<br />
			Sector 30<br />
			Gurgaon 122002 Haryana<br />
			INDIA<br />
	  <br />
			Phone: +91 (0124) 4700 200 <br />
			Fax: +91 (0124) 4700 222<br />
			E-mail: infoindia@xebia.com</p>
  </div>
  <div class="social_media">
	<ul>
	  <li><a href="#"><img src="/images/linkdin_icon.gif" /></a></li>
	  <li><a href="#"><img src="/images/flickr_icon.gif" longdesc="#" /></a></li>
	  <li><a href="#"><img src="/images/facebook_icon.gif" longdesc="#" /></a></li>
	  <li><a href="#"><img src="/images/twitter_icon.gif" longdesc="#" /></a></li>
	  <li><a href="#"><img src="/images/youtube_icon.gif" longdesc="#" /></a></li>
	  <li><a href="#"><img src="/images/share_icon.gif" longdesc="#" /></a></li>
	</ul>
  </div>
  <div class="copyright">Copyright 2007 Xebia IT Architects India Private Limited. All rights reserved.</div>
</div>