<div class="footer_content">
  <div class="adress_area">
	<h2>Agilists@Xebia</h2>
	<p>agilencr@gmail.com<br />
  </div>
  <div class="social_media">
	<ul>
	  <li><a href="http://www.flickr.com/photos/xebiaindia" target="_blank"><img src="/images/flickr_icon.gif" longdesc="#" /></a></li>
	  <li><a href="http://www.facebook.com/XebiaIndia" target="_blank"><img src="/images/facebook_icon.gif" longdesc="#" /></a></li>
	  <li><a href="http://www.twitter.com/XebiaIndia" target="_blank"><img src="/images/twitter_icon.gif" longdesc="#" /></a></li>
	  <li><a href="http://www.youtube.com/XebiaIndia" target="_blank"><img src="/images/youtube_icon.gif" longdesc="#" /></a></li>
	  <li><a href="http://www.slideshare.net/XebiaIndia" target="_blank"><img src="/images/share_icon.gif" longdesc="#" /></a></li>
	</ul>
  </div>
  <div class="copyright">Copyright 2007 Xebia IT Architects India Private Limited. All rights reserved.</div>
</div>